<!DOCTYPE html>
<html>
<head>
  <title>After20</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app>

<h1>After20 app</h1>

</body>
</html>
